[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
datasets = "*"
weaviate-client = "*"
langchain-huggingface = "*"
sentence-transformers = "*"
langchain-weaviate = "*"
langchain = "*"
langchain-community = "*"
openai = "*"
dotenv = "*"
langchain-openai = "*"
langchain_core = "*"

[dev-packages]

[requires]
python_version = "3.11"
